## Select work order whose wonum = 'H13936826'

In [3]:
from dtp import DTP
DTP().query(sql="""SELECT wonum,description,status,worktype,location,bdpocdiscipline,schedstart,
      schedfinish,round(estdur),estlabhrs,estlabcost,estmatcost
    FROM 
        MAXIMO.workorder workorder
    WHERE workorder.wonum='H13936826'
""")

[('H13936826', '6M-CFT & Calibration Fire and Gas Sys at MT1-Drilling Deck', 'APPR', 'PM', 'MT1-DRILL', 'E&I', datetime.datetime(2023, 5, 1, 0, 0), datetime.datetime(2023, 5, 14, 14, 55), 22.0, 0.0, Decimal('0.00'), Decimal('324.18'))]

In [4]:
DTP().asDataFrame(sql="""SELECT wonum,description,status,worktype,location,bdpocdiscipline,schedstart,
      schedfinish,round(estdur),estlabhrs,estlabcost,estmatcost
    FROM 
        MAXIMO.workorder workorder
    WHERE workorder.wonum='H13936826'
""", columns=["WOnum", "Description" , "Status" , "Worktype", "Location","bdpocdiscipline","schedstart",
      "schedfinish","estdur","estlabhrs","estlabcost","estmatcost"])

,WOnum,Description,Status,Worktype,Location,bdpocdiscipline,schedstart,schedfinish,estdur,estlabhrs,estlabcost,estmatcost
0,H13936826,6M-CFT & Calibration Fire and Gas Sys at MT1-D...,APPR,PM,MT1-DRILL,E&I,2023-05-01,2023-05-14 14:55:00,22.0,0.0,0.00,324.18